
.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
    text-align: right;
    position: relative;
}

body {
    color: black;
    font-family: arial, sans-serif;
}

.toplinks {
    padding-right: 30px;
}

center {
    display: block;
    text-align: -webkit-center;
}

#mainLogo {
    display: block;
    justify-items: center;
}

.searchbar {
    display: block;

}

#translate {
    width: 100%;
    text-align: center;
}