body {
height: 100%;
width: 100%;
}

div {
    width: auto;
}
/* nav bar */
#nav {
    display: grid;
    grid-template-columns: 75% 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    ". gmail image app user";
    padding-right: 30px;
}

a {
    text-decoration: none;
    font-size: 13px;
    font-family: arial;
}

.toplinks {
    color: black;
}

#gmail {
    grid-area: gmail;
    
    text-decoration: none;
    justify-self: center;
    align-self: center;
}

#image {
    grid-area: image;
    justify-self: center;
    align-self: center;
}

#app {
    grid-area: app;
    justify-self: center;
    align-self: center;
}   

#user {
    grid-area: user;
    justify-self: center;
    align-self: center;
    height: 32px;
    width: 32px;
}
/* Main content */
#body {
    
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 200px 70px 70px 200px;
    grid-template-areas: 
    ". mainLogo ."
    ". searchbar ."
    ". flexbox ."
    ". translate .";
}

#mainLogo {
    grid-area: mainLogo;
    justify-self: center;
    align-self: end;
    justify-self: center;
    align-self: end;
}
#searchbar {
    grid-area: searchbar;
    height: 34px;
    align-self: center;
    justify-self: stretch;
    border: 1px solid rgba(0,0,0,0.151);
    border-radius: 30px;
}

#searchbar:hover {
    box-shadow: 2px 2px 3px grey;
}

#entry {
    background: #fff;
    width: 100%;
    align-self: end;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 34px;
}
#flexbox {
    display: flexbox;
    grid-area: flexbox;
    flex-grow: 4;
    justify-self: center;
    align-self: center;
}
#searchbutton {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
#lucky {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#translate {
    grid-area: translate;
    justify-self: center;
}

a #Gaeilge {
    color: blue;
}

a #Gaeilge:active {
    color: indigo;
}

#Gaeilge:hover {
    text-decoration: underline;
}

/* Footer */

#footer {
    display: grid;
    grid-template-columns: 80px 80px 80px 140px 1fr 80px  80px 80px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "advertising business about hsw . privacy terms settings";
}

#advertising {
    grid-area: advertising;
    justify-self: center;
    align-self: center;
}

#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#hsw {
    grid-area: hsw;
    justify-self: center;
    align-self: center;
}
#privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}
#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}
#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}