
.nav {
    width: 100%;
}

body {
    color: black;
}



.toplinks {
    display: block;
    align-items: center;
}
center {
    display: block;
    text-align: -webkit-center;
}
#mainLogo {
    display: block;
    justify-items: center;
}

.searchbar {
    display: block;

}